$primary: #2a10bd;

$theme-colors:(
    "primary": $primary
    );
    
section{
    padding: 18px 0;
}

.Circuito-link img{
    width: 550px;
}

@import"./node_modules/bootstrap/scss/bootstrap.scss";



